.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.btn {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  width: 250px;
  height: 75px;
  font-size: 26px;
  border-radius: 18px;
  font-family: 'VT323';
 }

/* Demo Stuff End -> */
.btn-2 {
  background-image: linear-gradient(to right, #f873ff 0%, #9f0af5 100%);
}
/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.mainPage {
  width: 100%;
  text-align: center;
}

.mainPage  > *{
  display :block;
  width: 100%;
}

.grid {
  display: inline-block;
  width: auto;
  height: max-content;
  margin-left: 3%;
}

.horizontal{
  float: left;
  margin-bottom: 50px;
}

.horizontal  *{
  display: inline-block;
}

.bio {
  font-family: 'VT323';
    font-size: 26px;
    background: -webkit-linear-gradient(#f873ff, #9f0af5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: pre-line;
    text-align: left;
}

.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24;
}

.modalStyleImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 650px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24;
}

@media only screen and (max-width: 700px) {
  .modalStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24;
  }
  
  .modalStyleImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 24;
  }
  .btn {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    width: 150px;
    height: 45px;
   }
   .bio{
     font-size: 16px;
   }
}