#editor {
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 1rem 4rem 2rem 4rem;
    margin-top: 2rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    h1 {
      margin-bottom: 1.5rem;
    }
  
    h2 {
      margin-bottom: 1rem;
    }
  
    #options {
      display: flex;
      margin-bottom: 3rem;
      justify-content: center;
  
      .option {
        display: flex;
        flex-direction: column;
      }
  
      .panelInput {
        height: 5rem;
        width: 5rem;
        font-size: 2rem;
        text-align: center;
        background-color: black;
        color: white;
        border: 1px solid grey;
        border-radius: 0.25rem;
        margin: 0 1rem 0.5rem 1rem;
        padding-left: 1rem;
  
        &:focus {
          outline: none !important;
          border-color: red;
          box-shadow: 0 0 0.5rem grey;
        }
      }
    }
  
    .button {
      font-family: 'VT323';
      font-size: 24;
      color: 'black';
      size: 250px;
    }
  
    .circle-picker {
      margin-bottom: 1.5rem !important;
    }
  }

  #introText{
    display: flex;
    justify-content: center;
  }

  #editorUtilit{
    display: flex;
    flex-direction: row;
  }