.Editor {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 1.5%;
}
   
  .App-Settings {
    width: 40%;
    max-width: 350px;
    padding-left: 5px;
    padding-bottom: 20px;
    margin-bottom: 1%;
    font-size: calc(10px + 1vmin);
    justify-content: center;
    padding-top: 15%;
    margin-right: 15px;
    /* border-right: 1px solid var(--main-color); */
  }

  .Canvas{
    margin-bottom: 1%;
    margin-top: 1%;
    padding-bottom: 5px;
    margin-right: 2.5%;
    justify-content: center;
    max-height: 90%;
    max-width: 90%;
  }

  .buttons{
    margin-top: 7%;
  }


  .chromePicker {
    margin: 0 auto !important;

  }
  
  table {
    border-spacing: 0;
  }
  
  td, tr {
    width: 18px;
    height: 18px;
    border: 1px solid #282c34;
  }
  


.horizontal{
    float: left;
}

.horizontal  *{

    display: inline-block;
    margin-left: 10px;
}

.btn {
  margin: 10px;
  padding: 30px;
  margin-left: 1%;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

/* Demo Stuff End -> */
.btn-2 {
  margin-left: 1%;
  background-image: linear-gradient(to right, #f873ff 0%, #9f0af5 100%);
}
/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}
