.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 35px;
    
}
.title{
    font-family: 'VT323';
    font-size: 275px;
    display: flex;
    justify-content: center;
    margin-top: -0.5%;
    background: -webkit-linear-gradient(#f873ff, #9f0af5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc{
    font-family: 'VT323';
    font-size: 52px;
    display: flex;
    justify-content: center;
    margin-top: -200px;
    background: -webkit-linear-gradient(#f873ff, #9f0af5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}